// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pink: #DE006E;
$dark-green: #6DAEA2;
$sun-set: #CF6C28;
$sun: #E2C437;
$light-green: #D0D737;
$creme: rgba(220, 242, 245, .9);
$white: #FFFFFF;


// $creme: #EDF1EF;
