.header-andrea {
  margin-bottom: 25px;
}

.about-content {
  display: flex;
}

.andrea {
  height: 300px;
  padding-right: 20px;
  border-radius: 5px;
}

.list {
  list-style: none;
}

li {
  font-size: 20px;
  color: $dark-green;
  margin-bottom: 1rem;
}

ul li::before {
  content: "\2022";
  color: $light-green;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
