.header-andrea {
  margin-bottom: 25px;
}

.break {
  margin-bottom: 15px;
}


.andrea {
  height: 340px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 25px;
  float: left;
}

.list {
  list-style: none;
}

.curriculum {
  margin-top: 25px;
}

.curriculum-overview {
  padding-top: 15px;
}

p.about-me {
  margin-bottom: 15px;
}
