.header-andrea {
  margin-bottom: 25px;
}

.andrea {
  height: 340px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 75px;
  margin-bottom: 40px;
  float: left;
}

.list {
  list-style: none;
}

.curriculum {
  margin-top: 25px;
}

.curriculum-overview {
  padding-top: 15px;
}

p.about-me {
  margin-bottom: 40px;
  line-height: 35px;
}

.mobile {
  display: none;
  visibility: hidden;
}

//Responsive

@media(max-width: 768px) {
  .andrea{
    height: 300px;
  }
}

@media(max-width: 576px) {
  .andrea{
    height: 250px;
    margin-bottom: 15px;
    margin-right: 35px;
  }
}

@media(max-width: 417px) {
  .andrea{
    height: 250px;
    margin-bottom: 10px;
    float: none;
    display: block;
    margin: 30px auto;
  }
  .web {
    display: none;
    visibility: hidden;
  }
  .mobile {
    display:block;
    visibility: visible;
  }
}

// @media(max-width: 376px) {

// }
