.adresses {
  padding-left: 30px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 175px;
}

.contact-item {
  padding-left: 10px;
}

.contact {
  padding-top: 25px;
}

.contact-header {
  font-weight: 600;
}

p.contact-item {
  margin-bottom: 5px;
}

a.contact-item {
  font-size: 20px;
  color: $dark-green;
  padding-left: 0px;
  font-weight: 400;
}

#map {
  position: relative;
  height: 400px;
  width: 500px;
  border-radius: 5px;
}

g {
  fill: $light-green;
}

.contact-extra, .contact-link {
  font-size: 16px;
}
.contact-extra {
  margin-top: -10px;
}

a.contact-link {
  font-weight: 400;
  text-decoration: underline;
}



//Responsive

@media(max-width: 991px) {
  #map {
    height: 500px;
    width: 450px;
  }
}

@media(max-width: 768px) {
  .contacts {
    display: block;
  }
  .adresses {
    margin: 30px 0px 40px 0px;
  }
  .contact-item {
    padding-left: 0px;
  }
  #map {
    height: 350px;
    width: 100%;
    display: block;
    margin: 0px auto;
  }
}
@media(max-width: 576px) {
  #map {
    height: 350px;
    width: 100%;
  }
  p.contact-extra, a.contact-link {
  font-size: 14px !important;
}
}
@media(max-width: 376px) {
  #map {
    height: 250px;
    width: 100%;
  }
}
