.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.contact-item {
  padding-left: 10px;
}

.contact {
  padding-top: 25px;
}

.contact-header {
  font-weight: 600;
}

p.contact-item {
  margin-bottom: 5px;
}

a.contact-item {
  font-size: 20px;
  color: $dark-green;
  padding-left: 0px;
}


#map {
  position: relative;
  height: 400px;
  width: 500px;
  border-radius: 5px;
}
