h1 {
  font-size: 50px;
  color: $pink;
}

h4 {
  font-size: 30px;
  font-weight: lighter;
  color: $white;
}

p {
  font-size: 20px;
  color: $dark-green;
}

.banner {
  height: 600px;
}

.landing-header {
  padding-top: 425px;
  text-align: center;
}

.welcome {
  margin-top: 20px;
}

.welcome-header {
  color: $sun-set;
  font-family: 'Kalam', cursive;
    font-size: 22px;
  letter-spacing: 1px;
}
