h1 {
  font-size: 50px;
  color: $pink;
  letter-spacing: 2px;
}

h4 {
  font-size: 22px;
  font-weight: lighter;
  color: $white;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;;
}

p {
  font-size: 20px;
  color: $dark-green;
}

.banner {
  height: 580px;
}

.landing-header {
  padding-top: 425px;
  text-align: center;
}

.welcome {
  margin-top: 25px;
}

.welcome-header {
  color: $pink;
  font-family: 'Happy Kids';
  font-size: 24px;
  letter-spacing: 2px;
}

.welcome-text {
  margin-bottom: 10px;
}
