// Import page-specific CSS files here.
@import "home";
@import "philosophy";
@import "offer";
@import "about";
@import "contact";
@import "legal";
@import "sand";


body {
  background-color: #edf7f5;
}

// .container {
//   width: 65%;
// }

@media(min-width: 1400px) {
  .container {
    width: 100%;
  }
}


@media(min-width: 1200px) {
  .container {
    width: 60%;
  }
}

@media(min-width: 991px) {
  .container {
    width: 90%;
  }
}

@media(max-width: 991px) {
  .container {
    width: 90%;
  }
}
