h2.legal {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
  color: $dark-green;
}

p.legal-text {
  margin-bottom: 30px;
}

.legal-header {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}

.legal-subheader {
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: underline;
}

.legal-info {
margin-bottom: 40px;
}

.first {
  margin: 20px 0px;
}
