.offer-overview {
  margin-top: 25px;
}

.offer {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
}

.offer-more {
  padding-left: 10px;
}

.section-offer {
  padding-bottom: 70px;
}

.offer-content {
  margin-top: 30px;
}

.sand-link-green {
  font-size: 18px;
  color: $dark-green;
  font-weight: normal;
}

.sand-link-green:hover {
  cursor: pointer;
  text-decoration: underline;
  color: $dark-green;
  font-weight: normal;
  font-size: 18px;
}

