h2 {
  font-size: 28px;
  font-weight: lighter;
  color: $pink;
  letter-spacing: 2px;
}

.first-section {
  padding-top: 140px;
  padding-bottom: 10px;
}

p.heart {
  margin-bottom: 20px;
}

.section {
  padding-bottom: 60px;
  z-index: 2;
}

.sub-header {
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
}

.philo-box {
  padding-left: 25px;
}

.content-left {
  margin-top: 18px;
  padding-right: 25px;
}

.content {
  margin-top: 18px;
}

.philo-content {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sand-wrapper {
  display: flex;
  align-items: flex-start;
}

.sand-link {
  font-size: 20px;
  color: $pink;
}

.sand-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: $pink;
  font-weight: 200;
}

.game-picture {
  border-radius: 10px;
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.border-picture {
  border-radius: 5px;
  height: 320px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.creative-picture {
  border-radius: 5px;
  height: 240px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.dragon-picture {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 60%;
}

.fairy-picture {
  height: 200px;
  margin-left: -60px;
  margin-top: 25px;
  opacity: .7;
  z-index: 1;
}
