h2 {
  font-size: 20px;
  font-weight: 700;
  color: $pink;
  letter-spacing: 2px;
}

.first-section {
  padding-top: 140px;
  padding-bottom: 10px;
}

p.heart {
  margin-bottom: 20px;
}

.section {
  padding-bottom: 40px;
  z-index: 2;
}

.sub-header {
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
}

p.philo-content {
  margin-bottom: 50px;
}

.philo-box {
  padding-left: 25px;
}

.philo-bottom {
  padding-bottom: 75px;
}

.content {
  margin-top: 18px;
}

.left {
  float: left;
}

.rigth {
  float: right;
}

.sand-wrapper {
  display: flex;
  align-items: flex-start;
}

.sand-link {
  font-size: 20px;
  color: $pink;
}

.sand-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: $pink;
  font-weight: 200;
}

.game-picture {
  border-radius: 10px;
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  float: left;
  margin: 0px 70px 35px 0px;
}

.border-picture {
  border-radius: 5px;
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  float: right;
  margin: 0px 0px 35px 70px;
}

.creative-picture {
  border-radius: 5px;
  height: 220px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  float: left;
  margin: 0px 70px 35px 0px;
}

.fairy-picture {
  height: 250px;
  margin-left: -30px;
  margin-top: -25px;
  opacity: .7;
  -ms-transform: skewY(10deg); /* IE 9 */
  transform: skewY(10deg);
  float: right;
}

//Responsive

@media(max-width: 991px) {
  .game-picture, .border-picture {
    height: 250px;
  }
  .creative-picture {
    height: 200px;
  }
  .fairy-picture {
    margin-left: -50px;
  }
}

@media(max-width: 768px) {
  .game-picture, .border-picture {
    height: 200px;
  }
  .game-picture {
    margin: 0px 40px 20px 0px;
  }
  .border-picture {
    margin: 0px 0px 20px 40px;
  }
  .creative-picture {
    height: 150px;
    margin: 0px 40px 20px 0px;
  }
  .fairy-picture {
    margin-left: -60px;
    height: 200px;
  }
}
@media(max-width: 576px) {
  .game-picture, .border-picture {
    height: 155px;
    margin: 0px 0px 20px 20px;
  }
  .game-picture {
    margin: 0px 20px 20px 0px;
  }
  .border-picture {
    margin: 0px 0px 20px 20px;
  }
}
@media(max-width: 376px) {
  .border-picture {
    height: 90px;
    margin: 0px 0px 0px 10px;
  }
  .game-picture {
    margin: 0px 10px 1px 0px;
    height: 95px;
  }
  .fairy-picture {
    margin-left: -60px;
    height: 150px;
    margin-top: 10px;
  }
  .creative-picture {
    height: 110px;
    margin: 0px 10px 10px 0px;
  }
  p.philo-content {
    margin-bottom: 35px;
  }
}
