.sand {
  text-align: center;
}

p.sand-content {
  margin-bottom: 40px;
  text-align: left;
  line-height: 35px;
}
.dragon-picture {
  margin: 50px 0px 90px 0px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 60%;
}

 //Rsponsive

@media(max-width: 991px) {
  .dragon-picture {
    width: 100%;
    margin: 50px 0px 90px 0px;
  }
}


@media(max-width: 576px) {
  .dragon-picture {
    margin: 25px 0px 65px 0px;
  }
}
