<div class="container">
  <div class="offer-overview">
    <h2 class="offer-item">Sandspieltherapie</h2>
    <h2 class="offer-item">Gestalttherapie</h2>
    <h2 class="offer-item">Familientherapie</h2>
  </div>
</div>
