<div class="container">
  <div class="first-section">
    <div class="header">
      <h2>Spielend Leben lernen</h2>
    </div>
      <p>ist ein Therapieansatz, dem Kind und Jugendlichen im spielerischen Selbstausdruck und der Entfaltung von sich selbst ein Freund, ein liebevoller Begleiter und ein Mentor zu sein.</p>
  </div>
  <div class="section">
    <div class="header">
      <h2 class="sub-header">Kinder und Jugendliche begreifen sich selbst ...</h2>
    </div>
    <div class="offer-overview">
      <p class="offer" id="one">im Spiel (Spieltherapie) <i class="fas fa-chevron-down"></i></p>
      <div class="offer-more"id="one-more">
        <p>Weitere Informationen zur Spieltherapie</p>
      </div>
      <p class="offer" id="two">in der schöpferischen Gestaltung (Sandspieltherapie u.a. Spieltherapieformen) <i class="fas fa-chevron-down"></i></p>
      <div class="offer-more"id="two-more">
        <p>Weitere Informationen zur Sandspieltherapie</p>
      </div>
      <p class="offer" id="three">im kreativen Selbstausdruck (Kunsttherapie) <i class="fas fa-chevron-down"></i></p>
      <div class="offer-more"id="three-more">
        <p>Weitere Informationen zur Kunsttherapie</p>
      </div>
      <p class="offer" id="four">im Wachsen und Gedeihen (Gestalttheraphie, Selbsterfahrung) <i class="fas fa-chevron-down"></i></p>
      <div class="offer-more"id="four-more">
        <p>Weitere Informationen zur Gestalttherapie</p>
      </div>
      <p class="offer" id="five">im geschützten Familienverbund (Familientherapie) <i class="fas fa-chevron-down"></i></p>
      <div class="offer-more"id="five-more">
        <p>Weitere Informationen zur Familientherapie</p>
      </div>
    </div>
  </div>
</div>
