<div class="footer">
  <div class="footer-items">
    <div class="footer-legal">
      <%= link_to "Impressum", legal_path, class: "footer-item" %>
      <%= link_to "Datenschutz", policy_path, class: "footer-item" %>
    </div>

    <div class="footer-contact">
      <p id="footer-text">+49 171-8370023</p>
      <p id="footer-text"><a href="mailto:niersbach.andrea@gmail.com", id="footer-text">niersbach.andrea@gmail.com</a></p>
    </div>
      <div class="footer-adress">
        <p id="footer-text">panta rhei Gesundheitszentrum</p>
        <p id="footer-text">Bundenweg 34</p>
        <p id="footer-text">60320 Frankfurt</p>
      </div>
      <div class="footer-adress">
        <p id="footer-text">Menschenraum</p>
        <p id="footer-text">Burgstraße 7a</p>
        <p id="footer-text">64342 Seeheim-Jugenheim</p>
      </div>
  </div>
</div>
