<div class="navbar sticky">
  <div class="navbar-brand">
    <h1 class="logo">Spielend Leben Lernen</h1>
  </div>
  <div class="navbar-items">
    <%= link_to "Philosophie", root_path, class:"navbar-item" %>
    <%= link_to "Angebot", offer_path, class:"navbar-item" %>
    <%= link_to "Über mich", about_path, class:"navbar-item" %>
    <%= link_to "Kontakt", contact_path, class:"navbar-item" %>
  </div>
</div>
