<div class="banner" style="background-image: linear-gradient(113.01deg, rgba(44, 46, 65, 0.53) 58.54%, rgba(52, 57, 100, 0) 108.56%), url('<%= image_path "dragon.jpg" %>');">
  <div class="landing-header">
    <h1>Spielend Leben Lernen</h1>
    <h4>Schöpferische Sandspieltherapie, Gestalttherapie & Familientherapie</h4>
  </div>
</div>

<div class="container">
  <div class="welcome">
    <p><span class="sub-header">Herzlich Willkommen </span>die Kleinen und die Großen! <br> Im Erlebnispark, im Land der Träume, im Spieleparadies der unbegrenzten Fantasie, in der märchenhaften Welt hinter den sieben Bergen und in der sagenhaften Fantasie-Welt der Ritter und Helden, Feen und Elfen! Erfinde Deine eigene Herr-der-Ringe-Geschichte, kreiere deine eigene Welt! Gehe genau wie Peter Pan auf deine eigene Reisen. Deiner Fantasie sind dabei keine Grenzen gesetzt.</p>
  </div>
</div>
