<div class="banner" style="background-image: linear-gradient(113.01deg, rgba(44, 46, 65, 0.53) 58.54%, rgba(52, 57, 100, 0) 108.56%), url('<%= image_path "deer-farmer.jpg" %>');">
  <div class="landing-header">
    <h1>Spielend Leben Lernen</h1>
    <h4>Schöpferische Sandspieltherapie, Gestalttherapie & Familientherapie</h4>
  </div>
</div>

<div class="container">
  <div class="section welcome">
    <div class="header">
      <h2>Herzlich Willkommen,</h2>
    </div>
    <div class="welcome-intro">
      <p>die Kleinen und die Großen! <br> Im Erlebnispark, im Land der Träume, im Spieleparadies der unbegrenzten Fantasie, in der märchenhaften Welt hinter den sieben Bergen und in der sagenhaften Fantasie-Welt der Ritter und Helden, Feen und Elfen!</p>
      <p>Erfinde Deine eigene Herr-der-Ringe-Geschichte, kreiere deine eigene Welt! Gehe genau wie Peter Pan auf deine eigene Reisen. Deiner Fantasie sind dabei keine Grenzen gesetzt.</p>
    </div>
  </div>
</div>

<div class="section heart">
  <h3>"Der direkte Weg zum Herzen eines Kindes führt nicht darüber, ihm etwas beibringen zu wollen und dafür zu sorgen, dass es die Erwachsenen versteht, sondern das Kind zu verstehen und Teil seiner Welt zu werden."</h3>
</div>

<div class="container">
  <div class="section">
    <div class="header">
      <h2>Das Spiel</h2>
    </div>
    <p class="col-lg-12 game-content">ist die zentrale Tätigkeitsform des kindlichen Lebens. Spielzeit ist eine wichtige, lehrreiche, sinnvolle und höchst wertvolle Zeit - eine Zeit, um zu erleben, zu erkennen und neu zu begreifen. Ein Kind bringt im Spiel seine Indiviualität und Persönlichkeit zum Ausdruck. Durch das Spielen gestalten die Heranwachsenden ihre Wirklichkeit- direkt, unbefangen und unverfälscht.</p>
    <div class="game">
      <div class="col-lg-8 game-content">
        <p>Im kreativen Spiel lernt der junge Mensch aus sich selbst zu schöpfen und seine Umwelt neu zu begreifen und sich aus einer inneren Quelle heraus zu entfalten. In einem geschützen Rahmen - frei von Erwartungen, Restriktionen und Leistungsanforderungen - lernen Kinder und Jugendliche mit sich, mit verschiedenen Materialien, unterschiedlichen Ausdrucksformen und mit vielfältigen Rollen zu experimentieren. Dadurch können sie sich mit Hilfe der Welt der Symbole und der Bilder in der aktiven Gestaltung und einem altersgerechtem “Plaudern” neu erfahren.</p>
      </div>
      <div class="col-lg-4 game-img">
        <%= image_tag 'princess.jpg', class:"game-img" %>
      </div>
    </div>
  </div>

  <div class="section end">
    <div class="header">
      <h2>Spielend leben lernen</h2>
    </div>
    <div class="end-content">
      <p>ist ein Therapieansatz, dem Kind und Jugendliche im spielerischen Selbstausdruck und der Entfaltung von sich selbst ein Freund, ein liebevoller Begleiter und Mentor zu sein. Der Sandkasten bietet darin einen freien und doch sicheren Raum, in dem sich die Ideen, Imaginationen und Fantasien kindgerecht ausdrücken können. </p>
    </div>
    <p>Sand ist dabei ein Symbol für das Entstehen und die Veränderlichkeit der kindlichen Seele und stellt selbst eine Brücke zur Welt der Imagination dar. Wenn sich bereits im Sand bestimmte Bilder abzeichnen, dann verleiht das der Fantasie Flügel.</p>
  </div>
</div>
