<div class="banner" style="background-image: linear-gradient(113.01deg, rgba(44, 46, 65, 0.53) 58.54%, rgba(52, 57, 100, 0) 108.56%), url('<%= image_path "dragon.jpg" %>')">
  <div class=" sandspieltheraphie landing-header">
    <h1>Spielend Leben lernen</h1>
    <h4>Schöpferische Sandspieltherapie, Gestalttherapie & Familientherapie</h4>
  </div>
</div>

<div class="sandspieltheraphie container">
  <div class="sandspieltheraphie welcome-wrapper">
    <div class="sandspieltheraphie welcome">
      <p class="sandspieltheraphie welcome-text"><span class="sub-header">Herzlich Willkommen </span>die Kleinen und die Großen, </p>
      <p class="sandspieltheraphie welcome-text">im Erlebnispark, im Land der Träume, im Spieleparadies der unbegrenzten Fantasie, in der märchenhaften Welt hinter den sieben Bergen und in der sagenhaften Fantasie-Welt der Ritter und Helden, Feen und Elfen!</p>
      <p class="welcome-text">Erfinde deine eigene Herr-der-Ringe-Geschichte, kreiere deine eigene Welt! Gehe genau wie Peter Pan auf deine eigene Reise. Deiner Fantasie sind dabei keine Grenzen gesetzt. Lass dich auf das Abenteuer ein, spielend Leben zu lernen ...</p>
    </div>
    <%= image_tag asset_path('Peter_Pan.png'), class: "sandspieltheraphie peter-pan", alt:"Sandspieltheraphie_Frankfurt_Andrea_Niersbach" %>
  </div>
</div>
