<div class="container">
  <div class="first-section">
    <div class="header">
      <h2>Sandkastenphilospohie</h2>
    </div>
    <div class="section sand">
      <p class="sand-content">Mit Sand als einem archetypischen Symbol kommen wir bereits in frühester Kindheit in Berührung. Der Sandkasten, der vor allem für kleine Kinder eine wichtige Rolle spielt, bedeutet selbst für die Erwachsenen noch immer eine große Faszination. Er ruft u.a. Kindheitserinnerungen wach, die vielleicht schon lange verschüttet waren. </p>

      <%= image_path 'dragon_sand_width.jpg', class:"dragon-picture" %>

      <p class="sand-content">Das Sandspiel lässt Vergangenes mit Zukünftigem in der Bilderwelt scheinbar mühelos nebeneinander existieren und bietet somit die Möglichkeit an frühe Erfahrungen der Kindheit und die ersten kreativen Erlebnisse anzuschließen. </p>
      <p class="sand-content">Sand hat die Bedeutung eines Wandlungsgefäßes, durch den weichen und gefühlvollen Charakter lässt sich ein geradezu zärtlicher Kontakt mit dem Sand herstellen, indem man ihn durch die Finger rieseln lässt und die Hände damit bedecken kann, etwas ver- oder begräbt sowie Abdrücke und Spuren hinterlässt oder verwischt. </p>
      <p class="sand-content">Sand ist ein optimales Spiel – und Gestaltungsmaterial, das jeder Mensch seit seiner Kindheit kennt.  Er lässt sich in vielfältiger Weise formen und verwandeln, um die individuelle Welt zu gestalten. Dadurch wird der Sandkasten zum Freiraum, wo sich Neues auf kreative und ursprüngliche Art und Weise entwickeln kann und darf. </p>
      <p class="sand-content">Die Redewendung, dass wir schon im Sandkasten miteinander gespielt haben, lässt auf eine lange und tragende Verbindung zwischen zwei Menschen schließen. So spricht man auch von der 1. Sandkastenliebe, an die man sich ein ganzes Leben erinnert. </p>
      <p class="sand-content">Das Sandspiel ermöglicht auf spielerisch-konstruktive Art eigene Seelenbilder in die Welt des Sandkastens zu übertragen. Es können Konflikte, innere Zustände, Sehnsüchte und Ängste nonverbal abgebildet werden. Der Sandkasten verbindet die Innen- mit der Außenwelt. Dabei werden die eigenen Ressourcen gestärkt und die Entwicklung der Gesamtpersönlichkeit gestärkt.</p>
      <p class="sand-content">Unbewusste Bilder und Symbole werden im Sandspiel belebt, sicht- und verstehbar. Symbole können dabei ihre dynamische Wirkung entfalten und die verschiedenen Symbolaspekte in der Psyche integriert werden. So kann echte Heilung und Entwicklung in der Tiefe der Seele stattfinden. </p>
    </div>
  </div>
</div>
