a {
  color: $dark-green;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  margin-bottom: 0px;
  &:hover {
    text-decoration: none;
    color: $dark-green;
    font-weight: 400;
    }
}

.footer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: #D1E7E3;
  transition: all 0.3s ease;
  z-index: 1;
  width: 100%;
  #footer-text {
    color: $dark-green;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-bottom: 0px;
  }
}

.footer-legal {
  display: grid;
}

.footer-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0px;
}
