<div class="container">
  <div class="section about">
    <div class="header">
      <h2>Andrea Niersbach</h2>
    </div>
    <div class="about-content">
      <img src="" alt="">
      <div class="about-me">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ullam sequi, quibusdam alias, temporibus excepturi similique, quod magni asperiores quo soluta quae minus? Eaque eius doloribus quidem, qui sunt quam blanditiis facilis fuga accusamus soluta, suscipit cum, inventore illum? Quam architecto praesentium, adipisci quod voluptatibus delectus illo a, molestiae, laborum eaque ea ad ullam sapiente, iste. Dolor quae possimus ea, corporis rem distinctio dolores iste, vero tempore reprehenderit esse similique, quaerat impedit nisi ut, architecto aspernatur labore! Cumque, ratione autem tenetur molestiae. Eos molestias explicabo voluptatibus nostrum soluta reiciendis laborum minus necessitatibus sequi quod earum quae error et fuga, amet quasi inventore saepe cum fugiat. Fugiat eum est accusamus ducimus tenetur, nisi optio suscipit iusto, labore nulla exercitationem saepe odit laudantium voluptatibus animi debitis dolore voluptates, id dolorem! Suscipit vero sequi reprehenderit, ullam repudiandae aspernatur, ad odit aperiam error. Excepturi itaque quisquam ducimus sunt doloremque temporibus, sapiente architecto doloribus a.</p>
      </div>
    </div>
  </div>
  <div class="section curriculum">
    <div class="header">
      <h2>Curriculum</h2>
    </div>
    <div class="curriculum-overview">
      <p>Master of Science in Child Development (Österreich)</p>
      <p>Heilpraktikerin für Psychotherapie</p>
      <p class="list"><span class="list-sign">> </span>Familientherapie</p>
      <p class="list"><span class="list-sign">> </span>Spieltherapie (Sandspieltherapie)</p>
      <p class="list"><span class="list-sign">> </span>Gestalttherapie</p>
      <p class="list"><span class="list-sign">> </span>Kunsttherapie</p>
      <p>Erzieherin</p>
      <p>Waldorferzieherin</p>
      <p>Mediatorin (Hochschule Wismar)</p>
      <p>Moderatorin für Dialogisches Qualitätsmanagement in Kindertagesstätten (ZPE der Universität Siegen)</p>
    </div>
  </div>
</div>
