<div class="container">
  <div class="contacts">

    <div class="maps">
    </div>

    <div class="adresses">
      <p>In den Praxisräumen von</p>
      <div class="first">
        <p>panta rhei Gesundheitszentrum <br> Bundenweg 34 <br> 60320 Frankfurt</p>
      </div>
      <div class="second">
        <p>Menschenraum <br> Burgstraße 7a <br> 64342 Seeheim-Jugenheim</p>
      </div>
      <div class="contact">
        <p class="contact-item">Telefon: 0178-4567899</p>
        <p class="contact-item">Email: info@spielendlebenlernen.de</p>
      </div>
    </div>
  </div>
</div>
