<div class="container">
  <div class="first-section contacts">

    <div class="maps" id="contact-map">
    </div>

    <div class="adresses">
      <p>In den Praxisräumen von</p>
      <div class="first">
        <p>panta rhei Gesundheitszentrum <br> Bundenweg 34 <br> 60320 Frankfurt</p>
      </div>
      <div class="second">
        <p>Menschenraum <br> Burgstraße 7a <br> 64342 Seeheim-Jugenheim</p>
      </div>
      <div class="contact">
        <p class="contact-item">Telefon: 0171-8370023</p>
        <p class="contact-item">Email: niersbach.andrea@gmail.com</p>
      </div>
    </div>
  </div>
</div>
