<div class="container">
  <div class="first-section">
    <div class="contacts">


      <div id="map">
      </div>

      <div class="adresses">
        <p>In den Praxisräumen von</p>
        <div class="first">
          <p>panta rhei Gesundheitszentrum <br> Bundenweg 34 <br> 60320 Frankfurt</p>
        </div>
        <div class="second">
          <p>Menschenraum <br> Burgstraße 7a <br> 64342 Seeheim-Jugenheim</p>
        </div>
        <div class="contact">
          <p>Anfragen und Terminvereinbarungen gerne unter:</p>
          <p class="contact-item">Telefon: +49 171-8370023</p>
          <p class="contact-item">Email: niersbach.andrea@gmail.com</p>
        </div>
      </div>

    </div>
  </div>
</div>
