<div class="container">
  <div class="first-section">
    <div class="header-andrea mobile">
      <h2>Andrea Niersbach</h2>
    </div>
    <%= image_tag asset_path('andrea.jpg'), class:"andrea" %>
    <div class="header-andrea web">
      <h2>Andrea Niersbach</h2>
    </div>
    <p class ="about-me"> Ich widme mich bereits seit vielen Jahren der Arbeit mit Kindern, insbesondere in meiner Tätigkeit als Heilpraktikerin für Psychotherapie und in meinem Beruf als Erzieherin. In meiner Arbeit ist es mir ein großes Anliegen, Kindern gute Lebens- und Lernbedingungen zu schaffen. Dabei dürfen die Kinder bei mir ganz Kind sein, ihre Fantasie und ihren Entdeckergeist im Spiel ausleben und sich selbst darin erfahren. Ich bin überzeugt, dass dies eine wichtige Grundlage für eine kindgerechte Entwicklung darstellt.
    </p>
    <p class ="about-me">Über die Jahre habe ich mich viel mit der Frage beschäftigt, wie Kinder die Welt wahrnehmen, wie sie sich auf ihre Umgebung beziehen und wie daraus resultierend Selbstbewusstsein und Selbstvertrauen gebildet werden. Durch mein Angebot der Spiel- und Familientherapie möchte ich die persönliche Entwicklung der Kinder fördern und freue mich, wenn ich sie auf ihrem individuellen Weg begleiten kann. </p>
    <p class ="about-me">Ich habe persönlich oft die Erfahrung gemacht, dass wir als Erwachsene viel von Kindern lernen können, indem wir uns eine lernende und offene Haltung bewahren und es schaffen, immer wieder auch Anfänger sein zu dürfen. Das Leben als ein Spiel zu begreifen macht es uns auch in späteren Jahren möglich, einen spielerischen Umgang mit den vielen Herausforderungen des Lebens zu finden. In diesem Sinne sind auch Erwachsene bei mir immer herzlich willkommen.</p>
  </div>
  <div class="section curriculum">
    <div class="header">
      <h2>Qualifikationen</h2>
    </div>
    <div class="curriculum-overview">
      <p>Master of Science in Child Development (Österreich)</p>
      <p>Heilpraktikerin für Psychotherapie</p>
      <p>Erzieherin</p>
      <p>Waldorferzieherin</p>
      <p>Mediatorin</p>
      <p>Moderatorin für Dialogisches Qualitätsmanagement in Kindertagesstätten</p>
    </div>
  </div>
</div>
