<div class="sandspieltheraphie frankfurt container">
  <div class="sandspieltheraphie frankfurt contacts">
     <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <div class="sandspieltheraphie frankfurt adresses">
        <p class="contact-header">In den Praxisräumen von</p>
        <div class="sandspieltheraphie frankfurt contact-item">
          <p>panta rhei Gesundheitszentrum <br> Bundenweg 34 <br> 60320 Frankfurt</p>
          <p class="contact-extra">Ergänzende Therapien finden Sie bei meinen Kolleginnen:
            <br>Christiane Conradi und Hanna Landgraf
            <br>
            <a href="http://www.pantarhei-gesundheitszentrum.de" target="_blank" class="contact-link">
            www.pantarhei-gesundheitszentrum.de</a>
          </p>
        </div>
        <div class="sandspieltheraphie frankfurt contact-item">
          <p>Menschenraum <br> Burgstraße 7a <br> 64342 Seeheim-Jugenheim <br>
          <a href="https://www.menschenraum.org/" target="_blank" class="contact-link">wwww.menschenraum.org</a>
          </p>
        </div>
        <div class="sandspieltheraphie frankfurt contact">
          <p class="sandspieltheraphie frankfurt contact-header">Anfragen und Terminvereinbarungen gerne unter:</p>
          <p class="sandspieltheraphie frankfurt contact-item">Telefon: +49 171 8370023</p>
          <p class="sandspieltheraphie frankfurt contact-item"><a href="mailto:info@spielend-leben-lernen.com", class="contact-item">Email: info@spielend-leben-lernen.com</a></p>
        </div>

      </div>
    </div>
</div>
