<div class="container">
  <div class="contacts">
     <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <div class="adresses">
        <p class="contact-header">In den Praxisräumen von</p>
        <div class="contact-item">
          <p>panta rhei Gesundheitszentrum <br> Bundenweg 34 <br> 60320 Frankfurt</p>
        </div>
        <div class="contact-item">
          <p>Menschenraum <br> Burgstraße 7a <br> 64342 Seeheim-Jugenheim</p>
        </div>
        <div class="contact">
          <p class="contact-header">Anfragen und Terminvereinbarungen gerne unter:</p>
          <p class="contact-item">Telefon: +49 171 8370023</p>
          <p class="contact-item"><a href="mailto:niersbach.andrea@gmail.com", class="contact-item">Email: niersbach.andrea@gmail.com</a></p>
        </div>

      </div>
    </div>
</div>
