<div class="kindertheraphie spieltheraphie frankfurt container">
  <div class="kindertheraphie spieltheraphie frankfurt first-section">
    <div class="kindertheraphie spieltheraphie frankfurt header">
      <h2>Spielend Leben lernen</h2>
    </div>
    <p class="kindertheraphie spieltheraphie frankfurt offer-content">ist ein Therapieansatz, dem Kind und Jugendlichen im spielerischen Selbstausdruck und der Entfaltung von sich selbst ein Freund, ein liebevoller Begleiter und ein Mentor zu sein.</p>
  </div>
  <div class="kindertheraphie spieltheraphie frankfurt section-offer">
    <p> <span class="kindertheraphie spieltheraphie frankfurt sub-header">Mein Angebot</span> umfasst die folgenden Therapieformen für Kinder, Jugendliche und Erwachsene:</p>
    <ul>
      <li>Sandspieltherapie (<%= link_to "mehr über die Philosophie des Sandspiels", sand_path, class:"sand-link-green" %>)</li>
      <li>Andere Formen der Spieltherapie sowie weitere kreative Ausdrucksmittel (z.B. Malen, Puppenspiel, Bausteine, Märchen etc.)</li>
      <li>Gestalttherapie</li>
      <li>Familientherapie</li>
    </ul>
    <p class="kindertheraphie spieltheraphie frankfurt offer-content last-offer">In meiner Therapie ist es mir ein großes Anliegen, stets die individuellen Bedürfnisse und Anliegen des Einzelnen wahrzunehmen und in einen ganzheitlichen Kontext zu stellen. Um mehr über die einzelnen Therapieformen zu erfahren, nehmen Sie gerne persönlich Kontakt mit mir auf. </p>
  </div>
</div>

