<div class="spieltheraphie frankfurt kindertheraphie container">

  <div class="spieltheraphie frankfurt kindertheraphie first-section">
    <div class="spieltheraphie frankfurt kindertheraphie header">
      <h2>Datenschutzerklärung</h2>
    </div>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Nach der EU-Datenschutz-Grundverordnung (DSGVO) sind wir verpflichtet, Sie umfassend über den Umfang und den Zweck der im Rahmen der Websitenutzung erhobener Daten und Ihre damit verbundenen Rechte zu informieren. </p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-header">Name und Kontaktdaten der für die Verarbeitung Verantwortlichen:</p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Andrea Niersbach <br> Telefon: +49 171 8370023 <br> <a href="mailto:info@spielend-leben-lernen.com", class="contact-item">Email: info@spielend-leben-lernen.com</a></p>
  </div>

  <div class="spieltheraphie frankfurt kindertheraphie legal-info">
    <p class="spieltheraphie frankfurt kindertheraphie legal-header">1. Allgemeines</p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Die Erhebung und Nutzung Ihrer Daten erfolgt streng nach den Vorgaben des Bundesdatenschutzgesetzes (BDSG) und des Telemediengesetzes (TMG) sowie der Datenschutz Grundverordnung (DSGVO). Wir fühlen uns der Vertraulichkeit Ihrer personenbezogenen Daten besonders verpflichtet und arbeiten deshalb streng innerhalb der Grenzen, die uns die gesetzlichen Vorgaben setzen. Die Erhebung dieser personenbezogenen Daten erfolgt auf freiwilliger Basis, wenn uns das möglich ist. Auch geben wir diese Daten nur mit Ihrer ausdrücklichen Zustimmung an Dritte weiter. Wir möchten es aber an dieser Stelle nicht versäumen, auf die allgemeinen Gefahren der Internetnutzung hinzuweisen, auf die wir keinen Einfluss haben. Besonders im E-Mail-Verkehr sind Ihre Daten ohne weitere Vorkehrungen nicht sicher und können unter Umständen von Dritten erfasst werden. </p>

    <p class="spieltheraphie frankfurt kindertheraphie legal-header">2. Speicherung und Aufbewahrung</p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Personenbezogene Daten werden umgehend gelöscht, sobald ihre Kenntnis für die Erfüllung des Zwecks der Speicherung nicht mehr erforderlich ist und einer Löschung bzw. der Vernichtung entsprechender Unterlagen keine rechtliche bzw. gesetzliche Aufbewahrungspflicht entgegensteht. Regelmäßig kann unsere Webseite ohne die Weitergabe persönlicher Daten genutzt werden. Wenn wir personenbezogene Daten erheben, etwa Ihren Namen, Ihre Anschrift oder Ihre E-Mail-Adresse, erfolgt diese Datenerhebung freiwillig. Ohne eine ausdrücklich erteilte Zustimmung von Ihrer Seite werden diese Daten Dritten nicht zur Kenntnis gebracht. Beachten Sie bitte, dass Daten im Internet allgemein nicht immer sicher übertragen werden. Besonders im E-Mail-Verkehr kann der Schutz beim Datenaustausch nicht garantiert werden.</p>

    <p class="spieltheraphie frankfurt kindertheraphie legal-header">3. Cookies</p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Die Internetseiten verwenden teilweise sogenannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Die meisten der von uns verwendeten Cookies sind sogenannte Session-Cookies. Sie werden nach Ende Ihres Besuches automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.  Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
    <br> <br>
    Der Provider der Seiten erhebt und speichert automatisch Informationen in sogenannten Server-Log-Files, die Ihr Browser automatisch an uns übermittelt. Diese Dateien sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtwidrige Nutzung bekannt werden. Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.
    </p>

    <p>
      <script id="CookieDeclaration" src="https://consent.cookiebot.com/b4e21258-c863-4601-9dd8-9e4d5a159c27/cd.js" type="text/javascript" async></script>
    </p>

    <p class="spieltheraphie frankfurt kindertheraphie legal-header">4. Google Web Fonts</p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google bereitgestellt werden. Beim Aufruf einer Seite lädt Ihr Browser die benötigten Web Fonts in ihren Browsercache, um Texte und Schriftarten korrekt anzuzeigen. Zu diesem Zweck muss der von Ihnen verwendete Browser Verbindung zu den Servern von Google aufnehmen. Hierdurch erlangt Google Kenntnis darüber, dass über Ihre IP-Adresse unsere Website aufgerufen wurde. Die Nutzung von Google Web Fonts erfolgt im Interesse einer einheitlichen und ansprechenden Darstellung unserer Online-Angebote. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar. Wenn Ihr Browser Web Fonts nicht unterstützt, wird eine Standardschrift von Ihrem Computer genutzt.</p>

    <p class="spieltheraphie frankfurt kindertheraphie legal-header">5. Sicherheit</p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Alle notwendigen technischen und organisatorischen Sicherheitsmaßnahmen, um Ihre personenbezogenen Daten vor Verlust und Missbrauch zu schützen, werden von uns getroffen. So werden Ihre Daten in einer sicheren Betriebsumgebung gespeichert, die der Öffentlichkeit nicht zugänglich ist.</p>

    <p class="spieltheraphie frankfurt kindertheraphie legal-header">6. Auskunft, Sperrung, Löschung</p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Sie können als Betroffener der Verarbeitung und Nutzung Ihrer Daten jederzeit widersprechen. Wenn Sie Fragen zu der Verarbeitung und Nutzung Ihrer personenbezogenen Daten durch unsere Abteilungen haben, erteilen wir Ihnen gerne jederzeit Auskunft. Auf Anfrage werden Sie von uns insbesondere darüber informiert, welche Daten wir über Ihre Person gespeichert haben. Auch wenn Sie die Berichtigung, Sperrung oder Löschung Ihrer Daten wünschen, stehen wir Ihnen gerne zur Verfügung. Bei datenschutzrechtlichen Fragen, die im Zusammenhang mit einem Praxisaufenthalt stehen, wenden Sie sich bitte direkt an den zuständigen Datenschutzbeauftragten des betreffenden Bereichs. Sie finden die Kontaktdaten im Impressum unseres Internetauftritts.</p>

    <p class="spieltheraphie frankfurt kindertheraphie legal-header">7. Kontaktformular</p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Wir betreiben auf dieser Website kein Kontaktformular und insoweit fallen auch keine entsprechenden personenbezogenen Daten an.</p>

    <p class="spieltheraphie frankfurt kindertheraphie legal-header">8. Widerspruch Werbe-Emails</p>
    <p class="spieltheraphie frankfurt kindertheraphie legal-text">Im Rahmen der gesetzlichen Impressumspflicht müssen wir unsere Kontaktdaten veröffentlichen. Diese werden von dritten Personen teilweise zur Übersendung nicht erwünschter Werbung und Informationen genutzt. Wir widersprechen hiermit jeglicher von uns nicht ausdrücklich autorisierten Übersendung von Werbematerial aller Art. Wir behalten uns ferner ausdrücklich rechtliche Schritte gegen die unerwünschte und unverlangte Zusendung von Werbematerial vor. Dies gilt insbesondere für sogenannte Spam-E-Mails, Spam-Briefe und Spam-Faxe. Wir weisen darauf hin, dass die unautorisierte Übermittlung von Werbematerial sowohl wettbewerbsrechtliche, zivilrechtliche und strafrechtliche Tatbestände berühren kann. Speziell Spam-E-Mails und Spam-Faxe können zu hohen Schadensersatzforderungen führen, wenn sie den Geschäftsbetrieb durch Überfüllung von Postfächern stören.</p>
  <p class="spieltheraphie frankfurt kindertheraphie legal-text"> <br> © 2020 Andrea Niersbach</p>
  </div>
</div>
